html {
  height:auto;
  min-height:100%;
}
body {
  margin: 0 auto;
  background-color: rgb(114,112,111); /* Old browsers */
  background: -moz-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(50%,#72706f), color-stop(100%,#72706f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#72706f',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* W3C */
  color: #333;
}


/**********************************
*
* wraps */

#wrap-outer {
  background: transparent url("background/typo3_netzmacher_background.png") scroll center repeat;
  min-height: 96%;
  padding: 2% 0;
}
#wrap-box {
  background-color:#F79210;
  -moz-box-box-shadow: 5px 5px 25px #222;
  -webkit-box-shadow: 5px 5px 25px #222;
  box-shadow: 5px 5px 25px #222;
}

#wrap-content {
  background: -moz-linear-gradient(left, #FFFFFF 75%, #F79210 75%);
}
/* wraps */



/**********************************
*
* elements */

#header {
}
#wrap-slider-logo {
}
#header-logo {
  padding: 14px 1em 14px 0;
}
#header-slider {
  height:130px;
  padding:0px;
}


#content {
  background-color:#FFF;
  padding-top:1em;
}
#content ul#record-browser {
  margin: 0;
}
#content p.backbutton {
  font-size: .8em;
}
input.ui-button {
  font-size: .8em;
}
#menue {
  background-color: #F79210;
  padding-top:1em;
}

#footer {
  padding:1em 0;
  text-align:center;
}
#header-slider {
  background-image:url("background/typo3_slider_w770px_h130px.png");
  background-repeat:repeat-y;
  color: white;
}
#header-slider h1,
#header-slider h2,
#header-slider h3,
#header-slider p {
  padding:0.4em 1em 0 1em;
}

/* elements */



/**********************************
*
* tags */

h1 {
  font-size:2em;
  margin-bottom:.4em;
}
h2 {
  font-size:1.4em;
}
h1.align-center,
h2.align-center,
h3.align-center,
p.align-center {
  text-align:center;
}
h1.align-right,
h2.align-right,
h3.align-right,
p.align-right  {
  text-align:right;
}
#menue a,
#menue a:link,
#menue a:visited,
#header a,
#header a:link,
#header a:visited,
#footer a,
#footer a:link,
#footer a:visited {
  color:white;
  text-decoration:none;
}
#footer p {
  margin-bottom:0;
}
#menue a:active,
#menue a:focus,
#menue a:hover,
#header a:active,
#header a:focus,
#header a:hover,
#footer a:active,
#footer a:focus,
#footer a:hover {
  color:#960000;
  text-decoration:none;
}

#menue ul,
#menue ol {
  color:white;
  font-size:0.85em;
  font-weight:bold;
  list-style:none;
  margin:0;
}
#menue ul ul,
#menue ol ol {
  margin-left: 1em;
  font-size:1em;
}
#menue ul ul ul,
#menue ol ol ol {
  margin-left: 2em;
}
#menue ul ul ul ul,
#menue ol ol ol ol {
  margin-left: 3em;
}
/* tags */




/* tx-browser-pi1 */
.tx-browser-pi1 a,
.tx-browser-pi1 a:link,
.tx-browser-pi1 a:visited {
  color:#000;
  text-decoration:none;
}
.tx-browser-pi1 a:active,
.tx-browser-pi1 a:focus,
.tx-browser-pi1 a:hover {
  color:#F79210;
}
.tx-browser-pi1 ul.indexBrowser li.selected, .tx-browser-pi1 ul.modeSelector li.selected {
  background:none repeat scroll 0 0 #FF8C00;
}
.tx-browser-pi1 .sword {
  width:10em;
}

.searchbox fieldset,
.selectboxorderby fieldset {
  border:0;
  padding:0;
}
.searchbox fieldset legend,
.selectboxorderby fieldset legend {
  display:none;
}
/* tx-browser-pi1 */

/* Foundation */

a.button,
a.button:link,
a.button:visited,
a.button:active,
a.button:focus,
a.button:hover {
  color:#FFF;
  font-weight:bold;
  text-decoration:none;
}

button.expand,
.button.expand {
  margin: 0;
}

.pricing-table .title {
  padding: 0;
}

.row {
  background-color:#F79210;
}
#content .row {
  background-color:#FFF;
}
#content .accordion-navigation .row {
  background: #EFEFEF;
}
#content .accordion-navigation.active .row {
  background: #E8E8E8;
}
#content .accordion-navigation:hover .row {
  background: #E3E3E3
}
#content .accordion-navigation .content .row {
  background: #FFF;
}

/*
 * Clearfix
 */
.clearfix:after { /* Firefox, IE8, Opera, Safari etc. */
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* +html .clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}
html, body {
  height:auto;
}